@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth!important;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;  
}

.slider-thumb::-webkit-slider-thumb {
  @apply appearance-none w-8 h-8 rounded-full bg-[#82A5C4] cursor-pointer;
}

.slider-thumb::-webkit-slider-thumb:hover {
  @apply bg-[#9bbbd8];
}
